SGX_AGENT_IP={{ sgx_agent }}
CMS_IP={{ cms }}
AAS_IP={{ aas }}
SHVS_IP={{ shvs }}
SCS_IP={{ scs }}

CMS_PORT={{ cms_port }}
AAS_PORT={{ aas_port }}
SHVS_PORT={{ shvs_port }}
SCS_PORT={{ scs_port }}

AGENT_USER={{ sgxagent_admin_username }}
AGENT_PASSWORD={{ sgxagent_admin_password }}

CMS_TLS_SHA={{ cmstlscertsha384_csp }}
