AAS_API_URL=https://{{aas}}:{{aas_port}}/aas
HVS_SERVICE_USERNAME={{hvs_service_username}}
HVS_SERVICE_PASSWORD={{hvs_service_password}}
CMS_BASE_URL=https://{{cms}}:{{cms_port}}/cms/v1
CMS_TLS_CERT_SHA384={{cms_tlscertsha384}}
SAN_LIST={{hvs}},{{hvs_hostname}}
BEARER_TOKEN={{setup_admin_token}}
HVS_DB_USERNAME={{hvs_db_user}}
HVS_DB_PASSWORD={{hvs_db_password}}
HVS_DB_NAME={{hvs_db_name}}
HVS_DB_SSLCERTSRC=/usr/local/pgsql/data/server.crt
