IHUB_SERVICE_USERNAME={{ihub_service_username}}
IHUB_SERVICE_PASSWORD={{ihub_service_password}}

{% if setup == 'workload-conf-containers-docker' or setup == 'workload-conf-containers-crio' or setup == 'trusted-workload-placement-containers' or setup == 'security-aware-orchestration' %}
###### Tenant Configuration for Kubernetes #####
TENANT=KUBERNETES
KUBERNETES_URL=
KUBERNETES_CRD=custom-isecl
KUBERNETES_CERT_FILE=
KUBERNETES_TOKEN=
###### Tenant Configuration for Kubernetes #####
{% endif %}

{% if setup == 'workload-conf-vm' %}
###### Tenant Configuration for Openstack #####
OPENSTACK_IP=
OPENSTACK_AUTH_PORT=
OPENSTACK_API_PORT=
OPENSTACK_USERNAME=
OPENSTACK_PASSWORD=
###### Tenant Configuration for Openstack #####
{% endif %}

POLL_INTERVAL_MINUTES=1
CMS_BASE_URL=https://{{cms}}:{{cms_port}}/cms/v1
AAS_API_URL=https://{{aas}}:{{aas_port}}/aas
TLS_SAN_LIST={{ihub}},{{ihub_hostname}}
CMS_TLS_CERT_SHA384={{cms_tlscertsha384}}

{% if setup != 'security-aware-orchestration' %}
ATTESTATION_TYPE=HVS
ATTESTATION_SERVICE_URL=https://{{hvs}}:{{hvs_port}}/hvs/v2
BEARER_TOKEN={{setup_admin_token}}
{% endif %}

{% if setup == 'security-aware-orchestration' %}
ATTESTATION_TYPE=SGX
ATTESTATION_SERVICE_URL=https://{{shvs}}:{{shvs_port}}/sgx-hvs/v1
BEARER_TOKEN={{shub_bootstrap_token.content}}
{% endif %}