# This is the configuration file for automatically create users and roles,
# and user-role associations, in Authentication Authorization Service
#
# The script requires content of this file adhere to the format elaborated below:
#
# 1. Settings regarding AAS must be in the following valid line of keyword "AAS",
#    and the order of user name, password, url should not be changed.
#
#   AAS
#   <AAS_USERNAME> <AAS_PASSWORD> <AAS_URL>
#
# 2. Arbitrary number of users and roles groups can be presented,
#    the format is as followed:
#
#   * The keyword "USER_SET" marks the start of an user array
#   USER_SET
#   <user_name> <password>
#   ...
#   <user_name> <password>
#
#   * The keyword "ROLE_SET" marks the start of an user array
#   * If the context is empty for a role, put "-" instead
#   ROLE_SET
#   <service_name>:<role_name> <context>
#   ...
#   <service_name>:<role_name> <context>
#
#   * The keyword "END_SET" marks the end of a full input set
#   END_SET
#
#   The script adds all presented users, roles into AAS if certain flag is set,
#   and maps all roles to all users in a same group
#

AAS
{{aas_admin_username}} {{aas_admin_password}} https://{{aas}}:{{aas_port}}/aas

# SCS 
USER_SET
{{ihub_service_username}} {{ihub_service_password}}
ROLE_SET 
CMS:CertApprover CN=Integration Hub TLS Certificate;SAN={{ihub}},{{ihub_hostname}};CERTTYPE=TLS
END_SET

USER_SET
{{ihub_service_username}} {{ihub_service_password}}
ROLE_SET
SHVS:HostDataReader -
END_SET

USER_SET
{{ihub_service_username}} {{ihub_service_password}}
ROLE_SET
SHVS:HostsListReader -
END_SET
