ISECL_PGDB_IP_INTERFACES=localhost
ISECL_PGDB_PORT={{ isecl_pgdb_port }}
ISECL_PGDB_SAVE_DB_INSTALL_LOG={{ isecl_pgdb_save_db_install_log }}
ISECL_PGDB_CERT_DNS=localhost
ISECL_PGDB_CERT_IP=127.0.0.1
{% if setup == 'secure-key-caching' or setup == 'sgx-orchestration' %}
ISECL_PGDB_USERPASSWORD={{ isecl_pgdb_user_password }}
{% endif %}