TLS_SAN_LIST={{kbs}},{{kbs_hostname}}
ENDPOINT_URL=https://{{ kbs }}:{{ kbs_port }}/v1
CMS_BASE_URL=https://{{ cms }}:{{ cms_port }}/cms/v1/
CMS_TLS_CERT_SHA384={{ cms_tlscertsha384 }}

{% if setup != 'secure-key-caching' and setup != 'SGX-Orchestration' %}
AAS_API_URL=https://{{ aas }}:{{ aas_port }}/aas
BEARER_TOKEN={{ setup_admin_token }}
{% endif %}

{% if setup == 'secure-key-caching' or setup == 'SGX-Orchestration' %}
AAS_BASE_URL=https://{{ aas }}:{{ aas_port }}/aas
KBS_SERVICE_USERNAME={{kbs_admin_username}}
KBS_SERVICE_PASSWORD={{kbs_admin_password}}
SQVS_URL=https://{{sqvs}}:{{sqvs_port}}/svs/v1
TLS_COMMON_NAME="KBS TLS Certificate"
KEY_MANAGER=Directory
SKC_CHALLENGE_TYPE="SGX"
BEARER_TOKEN={{setup_admin_token.content}}
{% endif %}
