KMS_TLS_CERT_IP={{ kbs }}
KMS_TLS_CERT_DNS={{ kbs_hostname }}
CMS_BASE_URL=https://{{ cms }}:{{ cms_port }}/cms/v1/
AAS_API_URL=https://{{ aas }}:{{ aas_port }}/aas
CMS_TLS_CERT_SHA384={{ cms_tlscertsha384 }}
BEARER_TOKEN={{ setup_admin_token }}
