{% if setup == 'trusted-workload-placement-containers' %}
ISECL_INSTALL_COMPONENTS=AAS,TA,IH,HVS
{% elif setup == 'workload-conf-vm' or setup == 'workload-conf-containers-docker' or setup == 'workload-conf-containers-crio' %}
ISECL_INSTALL_COMPONENTS=AAS,KBS,TA,WLS,WPM,WLA,IH,HVS
{% else %}
ISECL_INSTALL_COMPONENTS=AAS,TA,HVS
{% endif %}

AAS_API_URL=https://{{ aas }}:{{ aas_port }}/aas
AAS_ADMIN_USERNAME={{ aas_admin_username }}
AAS_ADMIN_PASSWORD={{ aas_admin_password }}
HVS_CERT_SAN_LIST={{ hvs }},{{ hvs_hostname }}

{% if setup == 'trusted-workload-placement-containers' or setup == 'workload-conf-containers-docker' or setup == 'workload-conf-containers-crio' %}
IH_CERT_SAN_LIST={{ ihub }},{{ ihub_hostname }}
{% endif %}

{% if setup == 'workload-conf-vm' or setup == 'workload-conf-containers-docker' or setup == 'workload-conf-containers-crio' %}
WLS_CERT_SAN_LIST={{ wls }},{{ wls_hostname }}
KBS_CERT_SAN_LIST={{ kbs }},{{ kbs_hostname }}
{% endif %}

TA_CERT_SAN_LIST=*

HVS_SERVICE_USERNAME={{ hvs_service_username }}
HVS_SERVICE_PASSWORD={{ hvs_service_password }}

{% if setup == 'workload-conf-containers-docker' or setup == 'workload-conf-containers-crio' %}
IH_SERVICE_USERNAME={{ ihub_service_username }}
IH_SERVICE_PASSWORD={{ ihub_service_password }}
{% endif %}

{% if setup == 'workload-conf-vm' or setup == 'workload-conf-containers-docker' or setup == 'workload-conf-containers-crio' %}
WPM_SERVICE_USERNAME={{ wpm_admin_username }}
WPM_SERVICE_PASSWORD={{ wpm_admin_password }}

WLS_SERVICE_USERNAME={{ wls_service_username }}
WLS_SERVICE_PASSWORD={{ wls_service_password }}

WLA_SERVICE_USERNAME={{ wla_service_username }}
WLA_SERVICE_PASSWORD={{ wla_service_password }}
{% endif %}

GLOBAL_ADMIN_USERNAME={{ global_admin_username }}
GLOBAL_ADMIN_PASSWORD={{ global_admin_password }}

INSTALL_ADMIN_USERNAME={{ install_admin_username }}
INSTALL_ADMIN_PASSWORD={{ install_admin_password }}
