SCS_DB_HOSTNAME={{scs_db_hostname}}
SCS_PORT={{scs_port}}
SCS_DB_PORT={{isecl_pgdb_port}}
SCS_DB_NAME={{scs_db_name}}
SCS_DB_USERNAME={{scs_db_user}}
SCS_DB_PASSWORD={{scs_db_password}}
SCS_ADMIN_USERNAME={{scs_admin_username}}
SCS_ADMIN_PASSWORD={{scs_admin_password}}
SCS_DB_SSLCERTSRC=/usr/local/pgsql/data/server.crt
SCS_REFRESH_HOURS=24
INTEL_PROVISIONING_SERVER={{intel_provisioning_server_sandbox}}
INTEL_PROVISIONING_SERVER_API_KEY={{intel_provisioning_server_api_key_sandbox}}
SAN_LIST={{scs}},{{scs_hostname}}
AAS_API_URL=https://{{aas}}:{{aas_port}}/aas/
CMS_BASE_URL=https://{{cms}}:{{cms_port}}/cms/v1/
CMS_TLS_CERT_SHA384={{cmstlscertsha384.stdout}}
BEARER_TOKEN={{scs_bootstrap_token.content}}
#Retries attempted incase PCS is not responding
RETRY_COUNT=3
#Time interval between each retry in seconds
WAIT_TIME=1
