KBS_HOSTNAME={{kbs_hostname}}
KBS_IP={{ kbs }}
KBS_PORT={{kbs_port}}
SKC_USER={{skclib_admin_username}}
SKC_USER_PASSWORD={{skclib_admin_password}}
CMS_IP={{ cms_enterprise }}
CMS_PORT={{cms_port}}
AAS_IP={{aas_enterprise}}
AAS_PORT={{aas_port}}
SCS_IP={{scs}}
SCS_PORT={{scs_port}}

