SQVS_USERNAME={{sqvs_admin_username}}
SQVS_PASSWORD={{sqvs_admin_password}}
SQVS_PORT={{sqvs_port}}
SQVS_INCLUDE_TOKEN=true
SAN_LIST={{sqvs}},{{sqvs_hostname}}
CMS_BASE_URL=https://{{cms}}:{{cms_port}}/cms/v1/
SCS_BASE_URL=https://{{scs}}:{{scs_port}}/scs/sgx/certification/v1
AAS_API_URL=https://{{aas}}:{{aas_port}}/aas
CMS_TLS_CERT_SHA384={{cmstlscertsha384.stdout}}
BEARER_TOKEN={{sqvs_bootstrap_token.content}}
SGX_TRUSTED_ROOT_CA_PATH=/tmp/trusted_rootca.pem
