WLS_DB={{ wls_db_name }}
WLS_DB_USERNAME={{ wls_db_user}}
WLS_DB_PASSWORD={{ wls_db_password }}
WLS_DB_HOSTNAME=localhost
WLS_DB_PORT={{ isecl_pgdb_port }}
WLS_DB_SSLCERTSRC=/usr/local/pgsql/data/server.crt
WLS_SERVICE_USERNAME={{ wls_service_username }}
WLS_SERVICE_PASSWORD={{ wls_service_password }}
HVS_URL=https://{{ hvs }}:{{ hvs_port }}/hvs/v2/
CMS_BASE_URL=https://{{cms}}:{{ cms_port }}/cms/v1/
AAS_API_URL=https://{{ aas }}:{{ aas_port }}/aas
SAN_LIST={{ wls }},{{ wls_hostname }}
CMS_TLS_CERT_SHA384={{ cms_tlscertsha384 }}
BEARER_TOKEN={{ setup_admin_token }}
