WPM_SERVICE_USERNAME={{ wpm_admin_username }}
WPM_SERVICE_PASSWORD={{ wpm_admin_password }}
{% if setup == 'workload-conf-containers-docker' %}
WPM_WITH_CONTAINER_SECURITY={{ wpm_container_security }}
{% endif %}
{% if setup == 'workload-conf-containers-crio' %}
WPM_WITH_CONTAINER_SECURITY={{ wpm_container_security }}
SKIP_SECURE_DOCKER_DAEMON=yes
{% endif %}
CMS_BASE_URL=https://{{ cms }}:{{ cms_port }}/cms/v1/
AAS_API_URL=https://{{ aas }}:{{ aas_port }}/aas
KMS_API_URL=https://{{ kbs }}:{{ kbs_port}}/v1/
CMS_TLS_CERT_SHA384={{ cms_tlscertsha384 }}
BEARER_TOKEN={{ setup_admin_token }}
